* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.chat-background {
  margin: 0 auto;
  background-color: #f0f0f0;
  max-width: 400px;
  height: 100%;
  border-radius: 5px;
  padding: 1rem;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  width: 100%;
  margin-bottom: 2rem;
}

.button {
  background: #3eaae1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  color: #fff;
}

.button:hover {
  background: #3e44e1;
}