.screen-messages {
    margin: 1rem 0;
    max-height: 400px;
    overflow-y: scroll;
}

.chat-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-close-chat {
    background: #d0312d;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    color: #fff;
  }
  
  .button-close-chat:hover {
    background: #900d09;
  }